.mm-accessible-slider .slide a {
    background-color: #058588;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}
.mm-accessible-slider .slide a:hover {
	color: #fff;
    background-color: #333;
}
/** Active */
.mm-accessible-slider .active .slide {
	display: block !important;
	visibility: hidden;
	transition: left .6s ease-out;
}
.mm-accessible-slider .active .slide.current {
	visibility: visible;
	left: 0;
}
.mm-accessible-slider .active .slide.next {
	left: 100%;
}
.mm-accessible-slider .active .slide.prev {
	left: -100%;
}
.mm-accessible-slider .active .slide.next.in-transition,
.mm-accessible-slider .active .slide.prev.in-transition {
	visibility:visible;
}

/** Slider */
.mm-accessible-slider .carousel,
.mm-accessible-slider .slide {
	width: 100%;
	padding:0;
	margin: 0;
	overflow: hidden;
}
body{
	overflow-x: hidden;
}
.mm-accessible-slider .carousel {
	position: relative;
	left: 50%;
	width: 100vw;
	height: 600px;
	transform: translate( -50%, 0 );
}
.mm-accessible-slider .carousel ul {
	margin:0;
	padding: 0;
	list-style: none;
}

/** Active */
.mm-accessible-slider .carousel.active {
	position:relative;
}
.mm-accessible-slider .active .slide {
	border: none;
	display: none;
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}
.mm-accessible-slider .slide.current {
	display:block;
	z-index: 500;
}

/** Controls */
.mm-accessible-slider .btn-prev,
.mm-accessible-slider .btn-next {
	position:absolute;
	z-index: 700;
	top: 40%;
	margin-top: -2.5em;
	border:0;
	background: rgba(255,255,255,.6);
	line-height: 1;
	padding:10px 5px;
	transition: padding .4s ease-out;
}
.mm-accessible-slider .btn-next:hover,
.mm-accessible-slider .btn-next:focus,
.mm-accessible-slider .btn-prev:hover,
.mm-accessible-slider .btn-prev:focus {
	padding-left: 15px;
	padding-right:15px;
}
.mm-accessible-slider .btn-prev {
	left:30px;
	border-radius: 0 .25em .25em 0;
}
.mm-accessible-slider .btn-next {
	right:30px;
	border-radius: .25em 0 0 .25em;
}
.mm-accessible-slider .carousel.with-slidenav {
	padding-bottom: 2em;
	background-color: #fff;
}

/** Navigation */
.mm-accessible-slider .slidenav {
	z-index: 9999;
	position: absolute;
	bottom:.25em;
	left: 0;
	right: 0;
	text-align: center;
}
.mm-accessible-slider .slidenav li {
	display:inline-block;
	margin: 0 .5em .2em;
}
.mm-accessible-slider .slidenav button {
	background: #FFF;
	border: 2px solid #CCC;
	opacity: 0.75;
}
.mm-accessible-slider .slidenav button:hover,
.mm-accessible-slider .slidenav button:focus,
.mm-accessible-slider .slidenav button.current{
	opacity: 1;
}
.mm-accessible-slider .slidenav button.current {
	border: 2px solid #ccc;
}
.mm-accessible-slider .slidenav button{
	padding: 0;
}
.mm-accessible-slider .slidenav button{
	width: auto;
	height: auto;
}
.mm-accessible-slider .slidenav img{
	width: 60px;
	height: 60px;
	object-fit: contain;
}

.mm-accessible-slider .dyk{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 900px;
}
.mm-accessible-slider .dyk-info,
.mm-accessible-slider .dyk-image{
	padding: 15px;
}
.mm-accessible-slider .dyk-info{
	text-align: center;
}
.mm-accessible-slider .dyk h3{
	font: 600 26px/30px 'Open Sans';
}
.mm-accessible-slider .dyk-image img{
	width: auto;
	height: 350px !important;
	margin: 0 auto !important;
	display: block;
	object-fit: contain;
}

@media( max-width: 767px ) {
	.mm-accessible-slider .dyk{
		max-width: 320px;
	}
	.mm-accessible-slider .dyk-image img{
		height: 150px;
	}
	.mm-accessible-slider .carousel .slidenav{
		margin: auto;
		max-width: 375px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.mm-accessible-slider .carousel .slidenav li{
		margin: 10px 0;
		width: calc( 100% / 3 );
	}
}

@media( min-width: 480px ) and ( max-width: 767px ) {
	.mm-accessible-slider .dyk{
		max-width: 480px;
	}
	.mm-accessible-slider .dyk-image img{
		height: 250px;
	}
}

@media( min-width: 768px ) {
	.mm-accessible-slider .carousel {
		height: 650px;
	}
	.mm-accessible-slider .dyk-info,
	.mm-accessible-slider .dyk-image{
		padding: 30px;
	}
	.mm-accessible-slider .dyk-image img{
		height: 400px;
	}
}

@media( min-width: 1024px ) {
	.mm-accessible-slider .carousel {
		height: 550px;
	}
	.mm-accessible-slider .dyk{
		display: flex;
		flex-direction: row;
	}
	.mm-accessible-slider .dyk-info{
		width: 40%;
		text-align: left;
	}
	.mm-accessible-slider .dyk-image{
		width: 60%;
	}
}

@media( min-width: 1280px ) {
	.mm-accessible-slider .carousel {
		height: 500px;
	}
	.mm-accessible-slider .dyk{
		max-width: 1140px;
	}
	.mm-accessible-slider .dyk-image img{
		height: 570px;
	}
}
