/* ======================================================== *
 * = Accessible Slider 
 * ======================================================== */

/* -------------------------------------------------------- *
 * - Screen Reader Text 
 * -------------------------------------------------------- */
.mm-accessible-slider .visuallyhidden{
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px
}

/* -------------------------------------------------------- *
 * - Slider 
 * -------------------------------------------------------- */
body{
	overflow-x: hidden;
}
.mm-accessible-slider .carousel,
.mm-accessible-slider .slide {
	width: 100%;
	padding:0;
	margin: 0;
	overflow: hidden;
}
.mm-accessible-slider .carousel {
	height: 600px;
}
.mm-accessible-slider .carousel ul {
	margin:0;
	padding: 0;
	list-style: none;
}
.mm-accessible-slider .carousel li {
	list-style: none;
}

/* -------------------------------------------------------- *
 * - Control (Next/Prev) and Navigation (Thumbs) Buttons 
 * -------------------------------------------------------- */
.mm-accessible-slider button{
	z-index: 2;
	position: relative;
	color: #000;
	box-shadow: none;
	border-radius: 0;
}
.mm-accessible-slider button img,
.mm-accessible-slider button i{
	z-index: -1;
	position: relative;
}
.mm-accessible-slider button i,
.mm-accessible-slider button img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	font-size: 32px;
}

/* -------------------------------------------------------- *
 * - Controls (Next/Prev)
 * -------------------------------------------------------- */
.mm-accessible-slider .btn-prev,
.mm-accessible-slider .btn-next {
	position:absolute;
	z-index: 700;
	top: 40%;
	margin-top: -2.5em;
	border:0;
	background: rgba(255,255,255,.6);
	line-height: 1;
	padding:10px 5px;
	transition: padding .4s ease-out;
}
.mm-accessible-slider .btn-next:hover,
.mm-accessible-slider .btn-next:focus,
.mm-accessible-slider .btn-prev:hover,
.mm-accessible-slider .btn-prev:focus {
	padding-left: 15px;
	padding-right:15px;
}
.mm-accessible-slider .btn-prev {
	left:30px;
	border-radius: 0 .25em .25em 0;
}
.mm-accessible-slider .btn-next {
	right:30px;
	border-radius: .25em 0 0 .25em;
}
.mm-accessible-slider .carousel.with-slidenav {
	padding-bottom: 90px;
	background-color: #fff;
}

/* -------------------------------------------------------- *
 * - Navigation (Thumbs)
 * -------------------------------------------------------- */
.mm-accessible-slider .slidenav {
	z-index: 9999;
	position: absolute;
	bottom:.25em;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mm-accessible-slider .slidenav li {
	margin: 0 .5em;
	height: 64px;
}
.mm-accessible-slider .slidenav button {
	background: #FFF;
	border: 2px solid #CCC;
	opacity: 0.75;
}
.mm-accessible-slider .slidenav button:hover,
.mm-accessible-slider .slidenav button:focus,
.mm-accessible-slider .slidenav button.current{
	opacity: 1;
}
.mm-accessible-slider .slidenav button.current {
	border: 2px solid #ccc;
}
.mm-accessible-slider .slidenav button{
	padding: 0;
}
.mm-accessible-slider .slidenav button{
	width: auto;
	height: auto;
}
.mm-accessible-slider .slidenav img{
	width: 60px;
	height: 60px;
	object-fit: contain;
}

/* -------------------------------------------------------- *
 * - Slides 
 * -------------------------------------------------------- */
.mm-accessible-slider .slide a {
    background-color: #058588;
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
}
.mm-accessible-slider .slide a:hover {
	color: #fff;
    background-color: #333;
}
.mm-accessible-slider .mm-slide{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 900px;
}
.mm-accessible-slider .mm-slide-info,
.mm-accessible-slider .mm-slide-image{
	padding: 15px;
}
.mm-accessible-slider .mm-slide-info{
	text-align: center;
}
.mm-accessible-slider .mm-slide-title,
.mm-accessible-slider .mm-slide-content{
	margin: 0 0 14px;
}
.mm-accessible-slider .mm-slide-image img{
	width: auto;
	height: 350px !important;
	margin: 0 auto !important;
	display: block;
	object-fit: contain;
}


/* -------------------------------------------------------- *
 * - Active Slide 
 * -------------------------------------------------------- */
.mm-accessible-slider .active .slide {
	display: block !important;
	visibility: hidden;
	transition: left .6s ease-out;
}
.mm-accessible-slider .active .slide.current {
	visibility: visible;
	left: 0;
}
.mm-accessible-slider .active .slide.next {
	left: 100%;
}
.mm-accessible-slider .active .slide.prev {
	left: -100%;
}
.mm-accessible-slider .active .slide.next.in-transition,
.mm-accessible-slider .active .slide.prev.in-transition {
	visibility:visible;
}
.mm-accessible-slider .carousel.active {
	position:relative;
}
.mm-accessible-slider .active .slide {
	border: none;
	display: none;
	position:absolute;
	top:0;
	left:0;
	z-index:200;
}
.mm-accessible-slider .slide.current {
	display:block;
	z-index: 500;
}







/* ======================================================== *
 * = Media Queries 
 * ======================================================== */

@media( max-width: 767px ) {
	.mm-accessible-slider .mm-slide{
		max-width: 320px;
	}
	.mm-accessible-slider .mm-slide-image img{
		height: 150px;
	}
	.mm-accessible-slider .carousel .slidenav{
		margin: auto;
		max-width: 375px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.mm-accessible-slider .carousel .slidenav li{
		margin: 10px 0;
		width: calc( 100% / 3 );
	}
}

@media( min-width: 480px ) and ( max-width: 767px ) {
	.mm-accessible-slider .mm-slide{
		max-width: 480px;
	}
	.mm-accessible-slider .mm-slide-image img{
		height: 250px;
	}
}

@media( min-width: 768px ) {
	.mm-accessible-slider .carousel {
		height: 650px;
	}
	.mm-accessible-slider .mm-slide-info,
	.mm-accessible-slider .mm-slide-image{
		padding: 30px;
	}
	.mm-accessible-slider .mm-slide-image img{
		height: 400px;
	}
}

@media( min-width: 1024px ) {
	.mm-accessible-slider .carousel {
		height: 550px;
	}
	.mm-accessible-slider .mm-slide{
		display: flex;
		flex-direction: row;
	}
	.mm-accessible-slider .mm-slide-info{
		width: 40%;
		text-align: left;
	}
	.mm-accessible-slider .mm-slide-image{
		width: 60%;
	}
}

@media( min-width: 1280px ) {
	.mm-accessible-slider .carousel {
		height: 500px;
	}
	.mm-accessible-slider .mm-slide{
		max-width: 1140px;
	}
	.mm-accessible-slider .mm-slide-image img{
		height: 570px;
	}
}


.slide img{
	display: block;
	margin: auto;
	max-height: 200px;
	max-width: 100%;
	width: auto;
	height: auto;
}

.slide .dyk-info{
	text-align: center;
}